@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --safety-yellow: #ebcf1eff;
  --raisin-black: #1c1e2aff;
  --lighter-black: #292c3d;
  --white: #fff;
  --gray: #c2c2c2;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--raisin-black);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: var(--white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title {
  font-weight: 700;
  color: var(--white);
}
